@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  overflow-x: hidden;
}

body.light{
  background: linear-gradient(to right top, #93C5FD, #6366F1);
  background-repeat: no-repeat;
}

body.dark{
  background: linear-gradient(to right top, #6B7280, #374151);
  background-repeat: no-repeat;
}

.dark .ip{
  background: linear-gradient(to left top, rgba(0,0,0,0.7), rgba(0,0,0,0.4));
  box-shadow: 6px 6px 20px rgba(170, 170, 170, 0.3);
}

.ip {
  background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
}

.box-glass {
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
}

.dark .box-glass {
  background: rgba( 0, 0, 0, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
}

.box-menu {
  background: rgba( 255, 255, 255, 0.40 );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  backdrop-filter: blur( 12.0px );
  -webkit-backdrop-filter: blur( 12.0px );
}

.dark .box-menu {
  background: rgba( 0, 0, 0, 0.30 );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  backdrop-filter: blur( 12.0px );
  -webkit-backdrop-filter: blur( 12.0px );
}

.menu.active {
  background: rgba( 99, 102, 241, 0.85 );
  color: #fff !important;
  box-shadow: 6px 6px 20px rgba(170, 170, 170, 0.3);
}

.rounded-xl {
  border-radius: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toggleCircle {
  transition:  all 0.3s ease-in-out;
}

.bulat1, .bulat2, .kotak1, .kotak2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  position: absolute;
}

.bulat1 {
  height: 10rem;
  width: 10rem;
  top: 15%;
  right: 10%;
  border-radius: 50%;
}

.bulat2 {
  height: 15rem;
  width: 15rem;
  bottom: 9%;
  left: 15%;
  border-radius: 50%;
}

.kotak2 {
  height: 12rem;
  width: 12rem;
  bottom: 17%;
  right: 25%;
}

.card {
  background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
}

.dark .card {
  background: linear-gradient(to left top, rgba(0,0,0,0.7), rgba(0,0,0,0.4));
  box-shadow: 6px 6px 20px rgba(170, 170, 170, 0.3);
}

.card-shadow-sm {
  background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.5));
  box-shadow: 0 0 transparent, 0 0 transparent, 0 10px 15px -3px rgba(122,122,122,0.1),0 4px 6px -2px rgba(122,122,122,0.05);
}

.dark .card-shadow-sm {
  background: linear-gradient(to left top, rgba(0,0,0,0.7), rgba(0,0,0,0.4));
  box-shadow: 0 0 transparent, 0 0 transparent, 0 10px 15px -3px rgba(170,170,170,0.1),0 4px 6px -2px rgba(170,170,170,0.05);
}

.slide-down {
  top: -100px;
  -webkit-animation: slide-down 1s forwards;
  -webkit-animation-delay: 0.2s;
  animation: slide-down 1s forwards;
  animation-delay: 0.2s;
}

@-webkit-keyframes slide-down {
  100% {
    top: 0;
  }
  0%{
    top: -100px;
  }
}

@keyframes slide-down {
  100% {
    top: 0;
  }

  0% {
    top: -100px;
  }
}

@media(max-width:680px){
  .bulat1 {
    height: 10rem;
    width: 10rem;
    top: 20%;
    right: -8%;
    border-radius: 50%;
  }
  
  .bulat2 {
    height: 12rem;
    width: 12rem;
    bottom: 9%;
    left: -20%;
    border-radius: 50%;
  }
  
  .kotak2 {
    height: 9rem;
    width: 9rem;
    bottom: 20%;
    right: 25%;
  }
}
